#header{
    background-color: #aa79c7;
    margin-top: 50px;
    margin-bottom: 50px;
    font-family: 'Quicksand', sans-serif;
    text-align: center;
}

h1, h3{
    text-transform: uppercase;
}

h3{
    color:#aa79c7;
}

#nameAndTitle{
    background-color: white;
    width: 400px;
    margin: 0px auto;
}

#nameAndTitle h1, h2{
    margin: 0px;
}



/* Corpo */



#container{
    display: grid;
    grid-template-columns: 30% auto;
    grid-column-gap: 20px;
}

#sidebar, #content{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

/* Contato */



#contato{
    list-style: none;
}

#contato i{
    width: 30px;
    color:black;
}



/* Cards */



.card{
    font-family: Montserrat;
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px;
}

.card h3{
    font-family: 'Quicksand', sans-serif;
}



/* Links */



#links{
    list-style: none;
}

#links i{
    width: 30px;
    color:black;
}



/* Mobile */

@media screen and (max-width: 800px) {
    #container {
      display: grid;
      grid-template-columns: 1fr;
    }

    #content {
        margin-top: 20px;
        border-top: 1px;
    }
  }
